#root {
  @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 text-center;
}

.logo {
  height: 6rem;
  padding: 1.5rem;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(52, 64, 85, 0.5));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  .logo.spin {
    animation: logo-spin infinite 20s linear;
  }
}
